@tailwind base;
@tailwind components;
@tailwind utilities;
/* normal theme */
:root {
  --main-bg: #793FDF;
  --secondary-bg: rgb(255, 230, 100);
  --secondary-bg-transparent : rgba(255, 230, 100,0.75);
  --alternative-bg : #7091F5;
  --dark-color: rgb(22, 26, 40);
  --transparent-bg: rgba(255, 255, 255, 0.5);
  --text-color: #97FFF4;
  --img-filter: none;
  --dark: black;
  --light: white;
}
/* dark theme */
:root[data-theme="dark"] {
  --main-bg: gray;
  --secondary-bg: rgb(44, 28, 28);
  --alternative-bg : rgb(255, 255, 255);
  --dark-color: rgb(255, 255, 255);
  --transparent-bg: rgba(255, 255, 255, 0.5);
  --text-color: rgb(89, 21, 21);
  --img-filter: none;
  --dark: white;
  --light: black;
}


body {
  transition: 0.1s;
  background: var(--main-bg);
  background-repeat: no-repeat;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
/* ==========================   header     ========================== */
header{
  /* transition: 0.1s; */
  
}

header a {
  font-weight: 700;

  color: var(--main-bg);

  &:hover{
    opacity: 0.5;
  }
}

header h1{
  color: var(--secondary-bg);
}

.scrolled_header {
  background : var(--secondary-bg-transparent);
  background-opacity: 0.5;
  backdrop-filter: blur(10px);
  color: var(--secondary-bg);
  border-bottom : 3px solid var(--main-bg);
}

.scrolled_header  a , .scrolled_header h1{
  color: var(--main-bg);
}

.scrolled_header .dropdown-button {
  color: var(--main-bg);
}

.dropdown {
  background: var(--main-bg);
}

.dropdown a {
  color : var(--secondary-bg);
}

/* ========================== toggle button ========================== */
.toggle-button {
  background: var(--alternative-bg);
  height: 30px;
  width: 70px;
  border-radius: 2rem;
  display: relative;

  color: var(--text-color);
  box-shadow: 0.1px 0.1px 5px var(--text-color);
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-dot {
  z-index: 1;
  transition: 0.5s;
  position: absolute;
  background: var(--main-bg);
  border-radius: 2rem;
  height: 30px;
  width: 40px;
}

.toggle-icon {
  transition: 0.5s;
  border-radius: 2rem;
  position: absolute;
  color: var(--secondary-bg);
  width: 40px;
  height: 30px;
  transform: translateX(80%);
}

.toggle-icon-active {
  transform: translateX(0%);
}

.toggle-dot-active {
  transform: translateX(80%);
}

/* ========================== hero container ========================== */

.hero_container_1{
 background : var(--main-bg)
}

.hero_container_1  button , a  {
  
  &:hover{
    opacity: 0.5;
  }
}

.hero_container_1 .contact-button{
  background: var(--dark);
  color: var(--light);
}

.hero_container_1 .cv-button{
  background: var(--light);
  color: var(--dark);
}

.hero_container_2{
  background : var(--secondary-bg)
}


.img-container {
  
  border: 5px solid var(--light);
}

img {
  background :  var(--light);
  
}

.bounce {
  animation: bounce 0.5s alternate infinite;
}

.light-text{
  color: var(--light);
}

.secondary-text{
  color : var(--main-bg);
}

.alternative-text{
  color : var(--secondary-bg);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  90%,
  100% {
    transform: translateY(10px);
  }
}

.skill-container {
  background: var(--secondary-bg);
  color: var(--main-bg);
  
}

.skill.container:hover {
}

.project-container {
  background: var(--secondary-bg);
}

.project-link {
  background: var(--dark);
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: var(--light);
}

@media (max-width: 768px) {
  .img-container {
    height: 200px;
    width: 200px;
  }
}
