@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --main-bg: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 219, 219, 1) 50%);
  --secondary-bg: linear-gradient(326deg, rgba(138, 212, 254, 1) 60%, rgba(234, 234, 234, 1) 100%);

  --dark-color: rgb(22, 26, 40);

  --transparent-bg: rgba(255, 255, 255, 0.5);
  --text-color: brown;
  --img-filter: none;
}

:root[data-theme="dark"] {
  --main-bg: linear-gradient(180deg, rgb(22, 26, 40) 10%, rgb(0, 0, 0) 90%);
  --secondary-bg: linear-gradient(55deg, rgb(10, 29, 48) 0%, rgb(21, 64, 86) 100%);

  --dark-color: rgba(221, 219, 219, 1);

  --transparent-bg: rgba(0, 0, 0, 0.255);
  --text-color: white;
  --img-filter: brightness(5);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --main-bg : linear-gradient(180deg, rgb(22, 26, 40) 10%, rgb(0, 0, 0) 90%);
    --secondary-bg: linear-gradient(55deg, rgb(10, 29, 48) 0%, rgb(21, 64, 86) 100%);
    --transparent-bg :rgba(0, 0, 0, 0.255);
    --text-color : white;
    --img-filter: brightness(5);
  }
} */
html{
  scroll-behavior: smooth;
}

body {
  transition: .5s;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  background: var(--main-bg);
  background-repeat: no-repeat;
  /* background: fixed; */

  color: var(--text-color);

 
}

/* ==========================   header     ========================== */
header {
  background: var(--secondary-bg);
  font-weight: 500;
  border-bottom: 1px solid var(--dark-color);
}

a:hover {
  opacity: 0.5;
}

.dropdown {
  background: var(--main-bg);
}

/* ========================== toggle button ========================== */
.toggle-button {
  background: var(--secondary-bg);
  height: 30px;
  width: 70px;
  border-radius: 2rem;
  display: relative;

  color: var(--text-color);

  box-shadow: .1px .1px 5px var(--text-color);
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-dot {
  z-index: 1;
  transition: .5s;
  position: absolute;
  background: var(--main-bg);
  border-radius: 2rem;
  height: 30px;
  width: 40px;
}

.toggle-icon {
  transition: .5s;
  border-radius: 2rem;
  position: absolute;
  width: 40px;
  height: 30px;
  transform: translateX(80%);

}

.toggle-icon-active {
  transform: translateX(0%);
}

.toggle-dot-active {
  transform: translateX(80%);
}

/* ========================== toggle button ========================== */


section {

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  background: var(--secondary-bg);
  border: 5px solid white;

}


.bounce {
  animation: bounce 0.5s alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

   90%, 100% {
    transform: translateY(10px);
  }

}